<!-- 询问对话框 -->
    <div class="modal">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog top100">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" ng-click="data.oncancel()">&times;</button>
                    <h4 class="modal-title">{{data.header}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{data.desc}}</p>
                </div>
                <div class="modal-footer">
                    <button ng-click="data.oncancel()" class="btn btn-default">取消</button>
                    <button ng-click="data.onok()" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

