<div class="container scrollable">
    <div class="scrollable-header" style="padding:15px 15px 0 15px">
        <div class="container">
            <div class="panel">
                <div class="btn-group pull-right">
                <a class="btn btn-small btn-default" ui-sref="info.student.all.list" ng-class="{'active':isState('info.student.all.list')}"  ><i class="fa fa-th-list"></i></a>
                <a class="btn btn-small btn-default" ui-sref="info.student.all.table" ng-class="{'active':isState('info.student.all.table')}" ><i class="fa fa-table"></i></a>
                </div>

                <a class="btn btn-primary col-xs-4 col-md-2" ui-sref="^.add({returnBack:'{{currentState}}'})" ><i class="fa fa-plus"></i> 增加学员</a>&nbsp;
                    

            </div>
            <div class="panel panel-default " ui-state="showSearchArea">
                <div class="panel-heading" ui-toggle="showSearchArea">
                    
                    <i class="fa pull-right" ui-class="{'fa-angle-double-down':!showSearchArea,'fa-angle-double-up':showSearchArea }"></i>
                    <h3 class="panel-title">搜索</h3>
                </div>
                <div ui-if="showSearchArea" class="panel-body">
                    <div class="form-group">
                        <label>状态</label>
                        <select class="form-control" ng-model="search.state" ng-options="c.val as c.lbl for c in states" ng-change="onSearch()">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>修学点</label>
                        <select name="city" class="form-control" ng-model="search.city" ng-options="c for c in cities" ng-change="onSearchCity()">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>班级</label>
                        <select name="city" class="form-control" ng-model="search.grade_id" ng-options="c.id as c.genre+c.seq for c in grades" ng-change="onSearch()">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>姓名（法名）</label>
                        <input class="form-control" ng-model="search.allname" ng-keypress="onEnter($event,onSearch)">
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="server.show" class="alert message-box mb10 alert-dismissible" ng-class="{'bg-success':server.success,'bg-danger':!server.success}">
            <button type="button" class="close" ng-click="server.show=false">
                <i class="fa fa-close"></i>
            </button>
            <div class="header">
                {{server.msgHeader}}
            </div>
            <p>{{server.msgBody}}</p>
        </div>
    </div>
    <div class="container scrollable-content">
        <ui-view/>
        <div ui-content-for="modals">
            <div ng-if="confirmData.show" my-confirm data="confirmData"></div>
        </div>
    </div>
</div>
