   <div class="student-card" ng-repeat="c in models" class="myanimate">
            <div class="header">
                <span>{{c.name}}</span>
                <i class="fa" ng-class="{'fa-male':c.gender,'fa-female':!c.gender}"></i>
                <i ng-if="c.state" class="fa fa-warning"></i>
            </div>
            <div class="row">
                <div class="col-xs-2">法名:</div>
                <div>{{c.bud_name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-2 ">学号:</div>
                <div >{{c.student_id}}</div>
            </div>
            <div class="row">
                <div class="col-xs-2">班级:</div>
                <div>{{c.grade |gradename }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2">电话:</div>
                <div >{{c.phone }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2">邮箱:</div>
                <div >{{c.email }}</div>
            </div>
            <div ng-if="c.showDetail" class="row">
                <div class="col-xs-2">状态:</div>
                <div >{{c.state | state }}</div>
            </div>
            <div ng-if="c.showDetail" class="row">
                <div class="col-xs-2">教育:</div>
                <div >{{c.education }}</div>
            </div>
            <div ng-if="c.showDetail" class="row">
                <div class="col-xs-2">生日:</div>
                <div >{{ c.birthday | date : 'yyyy-M-d' }}</div>
            </div>
            <div ng-if="c.showDetail" class="row">
                <div class="col-xs-2">地址:</div>
                <div >{{c.address }}</div>
            </div>
            <div class="row btn-group">
                <a class="btn btn-small btn-primary" ng-click="onUpdate(c)"><i class="fa  fa-edit"></i>编辑</a>
                <a class="btn btn-small btn-default" ng-click="destroyModel(c,c.name,reloadModels)"><i class="fa fa-trash"></i>删除</a>
                <a class="btn btn-small btn-default" ng-click="c.showDetail=!c.showDetail"><i class="fa" ng-class="{'fa-angle-double-down':!c.showDetail,'fa-angle-double-up':c.showDetail}"></i>详情</a>
            </div>
        </div>
        <div><a class="btn btn-default btn-block" ng-if="currentPage !== pages" ng-click="loadNextPage()">载入下一页</a></div>