<div ng-if="model"  class="container scrollable student-view">
    <div class="scrollable-header" style="padding:15px 15px 0 15px">
        <div class="container">
            <div class="panel ">
                <span class="header">{{model.name}}</span>
            </div>
        </div>
    </div>
    <div class="container scrollable-content">
        <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">班级</div>
                <div class="col-xs-8 col-sm-10 info">{{model.grade | gradename}}</div>
        </div>
         <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">学号</div>
                <div class="col-xs-8 col-sm-10 info">{{model.student_number}}</div>
        </div>
        <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">法名</div>
                <div class="col-xs-8 col-sm-10 info">{{model.bud_name}}</div>
        </div>
        <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">性别</div>
                <div class="col-xs-8 col-sm-10 info">{{model.gender | gender}}</div>
        </div>
         <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">状态</div>
                <div class="col-xs-8 col-sm-10 info">{{model.state | state}}</div>
        </div>

         <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">登录名</div>
                <div class="col-xs-8 col-sm-10 info">{{model.username}}</div>
        </div>
        <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">电话</div>
                <div class="col-xs-8 col-sm-10 info">{{model.phone}}</div>
        </div>
        <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">邮箱</div>
                <div class="col-xs-8 col-sm-10 info">{{model.email}}</div>
        </div>
         <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">生日</div>
                <div class="col-xs-8 col-sm-10 info">{{model.birthday}}</div>
        </div>
         <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">教育</div>
                <div class="col-xs-8 col-sm-10 info">{{model.education}}</div>
        </div>
        <div class="row">
                <div class="col-xs-4 col-sm-2 lbl">地址</div>
                <div class="col-xs-8 col-sm-10 info">{{model.address}}</div>
        </div>
        

          
        
    </div>
</div>
<div ui-content-for="modals">
    <div ng-if="confirmData.show" my-confirm data="confirmData"></div>
</div>
