<div class="container scrollable">
    <form name="userform" class="form mt10 scrollable-content" method="post" ng-submit="submit()">
        <h3>{{header}}</h3>
        <div ng-show="server.show" class="alert message-box mb10 alert-dismissible" ng-class="{'bg-success':server.success,'bg-danger':!server.success}">
            <button type="button" class="close" ng-click="server.show=false">
                <i class="fa fa-close"></i>
            </button>
            <div class="header">
                {{server.msgHeader}}
            </div>
            <p>{{server.msgBody}}</p>
        </div>
        <div class="form-group">
            <label>用户名<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="username" ng-model="model.username" required minlength="2">
        </div>
        <div class="form-group">
            <label>密码<span ng-if="isState('^.add')" class="text-danger">*</span></label>
            <input type="password" class="form-control" name="password" ng-model="model.password" ng-required="isState('^.add')" ng-change="matchPassword()">
        </div>
        <div class="form-group">
            <label>重复密码<span ng-if="isState('^.add')" class="text-danger">*</span></label>
            <input type="password" class="form-control" name="password1" ng-model="model.password1" ng-required="isState('^.add')" ng-change="matchPassword()">
        </div>
        <div class="form-group">
            <label>绑定学员</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" disabled="disabled" ng-value="model.student | student_name">
                <span class="input-group-addon" style="cursor: pointer" ui-turn-on="select_student">
             <i  class="fa fa-ellipsis-h"></i></span>
              <span class="input-group-addon" style="cursor: pointer" ng-click="clearBindStudent()" >
             <i  class="fa fa-remove"></i></span>
            </div>
        </div>
        <input type="submit" ng-disabled="userform.$invalid" class="btn btn-primary btn-block">
        <a ui-sref="^.all" class="btn btn-default btn-block">返回</a>
    </form>
    <div ui-content-for="modals">
        <div ng-include src="'/app/system/user/_select_student.html'"></div>
    </div>
</div>
